RAHA_DB_PASSWORD=CHANGE_ME_DATABASE_PASSWORD
RAHA_DB_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
RAHA_API_TOKEN=CHANGE_TO_A_LONG_RANDOM_TOKEN
RAHA_HTTP_PORT=8080
RAHA_CORS_ORIGIN=*
RAHA_KEEP_BACKUP_VERSIONS=7
